# Jammer CLI Configuration File
# Customize this file as per your project requirements

keywords:
  - FIXME
  - DEBUG
  - XXX
  - HACK
  - TODO

exclude:
  - vendor/
  - node_modules/
  - .git/
  - tmp/
  - spec/fixtures/
  - build/
  - dist/
  - README
  - .jammer.yml